@media (min-width: 992px) {
    #sideNav {
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 17rem;
      height: 100vh;
    }
    #sideNav .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem;
    }
    #sideNav .navbar-brand .img-profile {
      max-width: 10rem;
      max-height: 10rem;
      border: 0.5rem solid rgba(255, 255, 255, 0.2);
      
    }
    #sideNav .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto;
    }
    #sideNav .navbar-collapse .navbar-nav {
      flex-direction: column;
      width: 100%;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item {
      display: block;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
      display: block;
    }
  }
  #sideNav {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  #sideNav .navbar-toggler:focus {
    outline-color: #d48a6e;
  }
  .bg-primary {
    background-color: #763857 !important;
  }
  .container {
    color:#DFE0DF;
    font-family:'Arial Narrow';
    margin-top: 50px;
    margin-bottom: 80px;
  }  
  .social-icons .social-icon:hover {
    background-color: #763857;
  }
  a {
    color: #763857;
    text-decoration: underline;
  }
  a:hover {
    color: #52057B;
  }
  